* {
    margin: 0px;
}

                /* Cabeçalho */    

#Logo img {
    width: auto !important;
    height: 20% !important;
}

.navbar {
    background-color: #2C1D4B !important;
    height: 4em;
}

.Letras_Cabeçalho {
    color: #fff !important;
    font-size: 1.3em;
    padding: 0 20px !important;
}

.d-flex {
    margin-top: 2%;
    margin-left: 7%;
}

#navbarSupportedContent {
    width: 50%;
}

.navbar-nav {
    margin-left: 10%;
}

#Icone_Login img {
    width: 96%;
    padding-right: 15%;
}

                /* feed Filtro */

#feedFiltroMainContainer {
    width: 100%;
    height: 1100px;
    background-color: #636363;
}

.feedFiltroTextoPosition {
    width: 50%;
    position: relative;
    top: 90px;
    left: 50px;
    color: #fff;
}

.positionVejaTambem {
    position: relative;
    left: 790px;
}

#feedFiltroTexto1 {
    width: 100%;
    background-color: #636363;
    display: flex;
    align-items: last baseline;
    color: rgba(255, 255, 255, 1);
    position: relative;
    top: 60px;
}

select {
    background-color: #636363;
    color: rgba(255, 255, 255, 1);
}

.feedFiltroTextoInside {
    background-color: #636363;
    display: flex;
    align-items: last baseline;
    color: rgba(255, 255, 255, 1);
    background-color: #2C1D4B;
}

.feedFiltroh2 {
    margin-top: 50px;
    margin-left: 25px;
    color: rgba(255, 255, 255, 1);
}

#feedFiltroh4 {
    position: relative;
    left: 850px;
    color: rgba(255, 255, 255, 1);
}

.feedFiltroInsideContainer {
    height: 400px;
    background-color: #2C1D4B;
    margin: 20px;
    margin-top: 0px;
    border-radius: 20px;
    display: flex;
    align-content: space-around;
}

.feedFiltroConteudo {
    position: relative;
    top: 10px;
    width: 450px;
    height: 200px;
    margin: auto;
    display: flex;
    color: rgba(255, 255, 255, 1);
}

.feedFiltroImg {
    border-radius: 20px;
}

.feedFiltroConteudoTexto {
    margin-left: 10px;
}

.hiperlink {
    text-decoration-line: underline;
    color: #FFFFFF;
}

.feedFiltroData {
    font-size: 10px;
    margin-left: 10px;
}

.feedFiltroVejaTambem {
    position: relative;
    top: 30px;
    width: 250px;
    height: 250px;
    margin: auto;
    display: inline-block;
    flex-direction: column;
}

.imgVejaTambem {
    border-radius: 30px;
    width: 90%;
    margin: 5px;
}

                        /* Rodape */


@font-face {
    font-family: Inter;
    src: url(../font/rodape/Inter-VariableFont_slnt\,wght.ttf);
}

footer {
    width: 100%;
    height: 190px;
    background-color: #2C1D4B;
    font-family: Inter;
}

#div_footer {
    display: flex;
}

#linha {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #FFFFFF;
}

#titulo {
    color: #FFFFFF;
    text-align: center;
    padding: 1px;
}

.titulo_lista {
    font-weight: bold;
    border-bottom: 1px solid #FFFFFF;
    font-size: 18px;
}

ul {
    list-style: none;
    color: #FFFFFF;
}

a {
    text-decoration: none;
    color: #FFFFFF;
}

a:hover {
    color: #636363;
    text-shadow: 0px 0px 5px black;
}

.icone_footer:hover {
    border-radius: 50%;
    box-shadow: 0px 0px 5px black;
}

#lista1 {
    margin-top: 20px;
}

#lista2 {
    margin-top: 20px;
}

#lista3 {
    margin-top: 20px;
}

#lista4 {
    margin-top: 20px;
}

#redes_sociais {
    margin-top: 80px;
    position: relative;
    left: 500px;
}

.icone_footer {
    padding: 5px;
}

/* #icone1{
margin-top: 90px;
padding: 5px;
position: relative;
left: 500px;
}
#icone2{
margin-top: 90px;
padding: 5px;
position: relative;
left: 500px;
}
#icone3{
margin-top: 90px;
padding: 5px;
position: relative;
left: 500px;
}
#icone4{
margin-top: 90px;
padding: 5px;
position: relative;
left: 500px;
} */