@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family:'Fira Code', sans-serif; 
}

:root {
	--main-color: #2C1D4B;
	--background-color: #404040;
	--link-color: #666666;
	--text1: #999999;
	--highligth-text: #333333;
	--input-text: #555555;
	--white-color: #FFFFFF;
	--point-list: #CCCCCC;
	--line-input: #D9D9D9;
	--red-button: #E01414;
}

body{
    background-color: #404040;
}

header {
    background-color: #2C1D4B;
    
}
.nav-bar{
    display: flex;
    justify-content:  space-between;
    padding: 0.625rem 1.18rem;  
}
.logo{
    display: flex;
    align-items: center;
}
.nav-list{
    display: flex;
    align-items: center;
}
.nav-list ul{
    display: flex;
    justify-content: center;
    list-style: none;
    position: relative;
}
.nav-list ul input{
    border-radius: 6px;
    border: none;
    height: 2.313rem;
}
#lupa-desktop{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    color: #000000;
}
.nav-item{
    display: flex;
    margin: 0 15px;
    justify-content: center;
    align-items: center;
}
.nav-link{
    text-decoration: none;
    font-size: 1.15rem;
    color: #FFF;
    font-weight: 400;
}
.user-icon{
    border: none;
    outline: none;
}
.mobile-menu-icon{
    display: none;
}
.mobile-menu{
    display: none;
}

.dropdown {
    position: relative;
    display: inline-block;

  }
  .dropdown-content {
    right: 0%;
   /* right: 30%; alinhar drop box no centro*/
    display: none;
    position: absolute;
    background-color: var(--main-color);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;

  }
  .dropdown:hover .dropdown-content {
    display: block;
  }

  .testeae{
    background-color: var(--main-color);
    border-style: none;
    width: 100%;
}
.testeae:hover{
    background-color: var(--background-color);
}

/*
    Formulário
  */

  .login-form {
	width: 100%;
}

.container-form-btn {
	width: 100%;
	display: flex;
	justify-content: center;
}

.form-btn {
	font-size: 15px;
	color: var(--white-color);
	line-height: 1.2;
	text-transform: uppercase;
	text-align: center;
	margin: auto;
	margin-bottom: 20px;
	padding-top: 10px;
	width: 40%;
	height: 40px;
	background-color: var(--main-color);
	border-radius: 20px;
	transition: all 0.4s;
}

.login-form-btn {
	font-size: 14px;
	color: var(--white-color);
	line-height: 1.2;
	text-transform: uppercase;
	text-align: start;
	padding-left: 5px;
	margin: 10px;
	width: 100%;
	height: 35px;
	background-color: var(--main-color);
	border-radius: 20px;
	transition: all 0.4s;
}

.form-btn:hover {
	background-color: var(--highligth-text);
}

@media screen and (max-width: 650px) {
    .nav-bar{
        padding: 1.5rem 4rem;
       
    }
    .nav-item{
        display: none;
    }
  
    .nav-list ul input{
        display: none;
        
    }

    #lupa-desktop{
        display: none;
    }

    .mobile-menu-icon{
        display: block;
    }
    #user-icon-desktop{/*remove o icone do menu na versão desktop - topo*/
        display:none;
    }
    #user-icon-mobile{/*formatação específica para o mobile*/
        justify-content:center;
    }
    .mobile-menu-icon button{
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
    .mobile-menu ul{
        display: flex;
        flex-direction: column;
        text-align: end;
        /*text-align: center; caso queira centrar os itens de menu no mobile*/ 
        padding-bottom: 1rem;
        
    }
    .mobile-menu .nav-item{
        display: block;
        padding-top: 1.2rem;
    }
    .mobile-menu .login-button {
        display: block;
        padding: 1rem 2rem;
    }
    .mobile-menu .login-button button{/* onde está esta classe?*/
        width: 100%;
    }
    .open{
        display: block;
    }
    #lupa-mobile {
        position: relative;
        padding-left: 38%;
        top: 50%;
        transform: translateY(-125%);
        right: 10px;
        color: #000000;
    }
    #searchM{/*alterei o ID*/
        margin-top: 20px;
        margin-left: 59%;
        /*margin-left: auto; 
        margin-right: auto; para centralizar o input*/
        width: 40%;
        border-radius: 3px;
        border-style: none;
        height: 26px;
    }
    
}   