:root {
  --main-color: #2C1D4B;
  --background-color: #404040;
  --link-color: #666666;
  --text1: #999999;
  --highligth-text: #333333;
  --input-text: #555555;
  --white-color: #FFFFFF;
  --point-list: #CCCCCC;
  --line-input: #D9D9D9;
}
@font-face {
  font-family: Inter;
  src: url(../font/rodape/Inter-VariableFont_slnt\,wght.ttf);
}

*{
  margin: 0;
}
.container-campeonatos{
  width: 100%;
  position: relative;
  display: grid;
}

#filtro-campeonatos{
  max-width: 100%;
  color: var(--white-color);
  position: relative;
  justify-content: space-around;
  margin-top: 30px;
  padding-bottom: 2%;
  left: 30px;
  height: 100px;
}

#principais-campeonatos{
margin-top: 10%;
}
#cards-torneios{
  display: grid;
  position: relative;
  margin-top: 10px;
  margin-left: 40px;
}
#cards-group {
  top: 80px;
  right: 5px;
  width: 400px;
  position: absolute;
}
.card{
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  margin-bottom: 15px;
  width: 90%;
  height: 150px;
  text-align: center;
  background-color: var(--highligth-text);
  color: var(--white-color);
}
.card-body{
  height: 120px;
}
.datas{
  display: flex;
  justify-content: space-between;
}
#legend-card{
  width: 80px;
  color: black;
  font-size: 10px;
  padding: 0%;
  color: var(--white-color);
  align-self: end;
}
.text-card{
  display: flex;
  justify-content:space-between;
  font-size: 22px;
}
#search{
  width: 80%;
  height: 30px;
}

.card:hover{
scale: 1.05;
transition: .3s;
border: 1px var(--black-color) solid;
box-shadow: 0px 0px 5px var(--main-color);
}

@media (max-width: 1397px) {
#filtro-campeonatos{
  height: auto;
  margin: auto;
}
#cards-torneios{
  margin: auto;
}
.card-body{
  height: 175px;
}
.card{
  height: auto;
}
}
@media (max-width: 969px) {
.card-body{
  height: 250px;
}
}
@media (max-width: 767px) {
.card-body{
  height: auto;
}  
#cards-torneios{
  margin-top: 15%;
}
}