*{
    margin: 0px;
    background-color: #404040;
}
.noticia{
    background-color: #2F2E2E;
    height: 100%;
    width: 1000px;
    margin: auto;
}
.noticia h1{
    background-color: #2F2E2E;
    color: white;
    text-align: center;
    padding-top: 50px;
    font-size: 50px;
}
.noticia h2{
    background-color: #2F2E2E;
    color: white;
    padding-top: 50px;
    padding-left: 40px;
    padding-bottom: 20px;
    font-size: 20px;
}
.noticia img{
    width: 800px;
    height: 540px;
    margin: auto;
    display: block;
    margin-top: 50px;
}
.noticia h3{
    background-color: #2F2E2E;
    color: white;
    font-size: 15px;
    margin-left: 100px;
}
.noticia p{
    background-color: #2F2E2E;
    color: white;
    font-size: 25px;
    margin-top: 50px;
    margin-left: 40px;
    margin-right: 40px;
}
.noticia h4{
    background-color: #2F2E2E;
    color: white;
    text-align: center;
    font-size: 45px;
    margin-top: 40px;
}