/*
  Variáveis
*/

:root {
    --main-color: #2C1D4B;
    --background-color:#404040;
    --link-color: #666666;
    --text1: #999999;
    --highligth-text: #333333;
    --input-text: #555555;
    --white-color: #FFFFFF;
    --point-list: #CCCCCC;
    --line-input: #D9D9D9;
  }
  
  /*
    Fontes
  */
  
  @font-face {
    font-family: Poppins-Regular;
    src: url('../fonts/poppins/Poppins-Regular.ttf'); 
  }
  
  @font-face {
    font-family: Poppins-Medium;
    src: url('../fonts/poppins/Poppins-Medium.ttf'); 
  }
  
  @font-face {
    font-family: Poppins-Bold;
    src: url('../fonts/poppins/Poppins-Bold.ttf'); 
  }
  
  @font-face {
    font-family: Poppins-SemiBold;
    src: url('../fonts/poppins/Poppins-SemiBold.ttf'); 
  }
  
  /*
    Zerar estilos
  */
  
  * {
      margin: 0px; 
      padding: 0px; 
      box-sizing: border-box;
  }
  
  body, html {
      height: 100%;
      font-family: Poppins-Regular, sans-serif;
  }
  
  ul, li {
      margin: 0px;
      list-style-type: none;
  }
  
  input, button {
      outline: none !important;
      border: none;
  }
  
  button:hover {
      cursor: pointer;
  }
  
  /*
    Utilitários
  */
  
  .text1 {
    font-family: Poppins-Regular;
    font-size: 15px;
    color: var(--text1);
    line-height: 1.5;
  }
  
  .text2 {
    font-family: Poppins-Regular;
    font-size: 15px;
    color: var(--main-color);
    line-height: 1.5;
  }
  
  .margin-bottom-35 {
    margin-bottom: 25px;
  }
  
  .margin-top-35 {
    margin-top: 25px;
  }
  
  .margin-bottom-8 {
    margin-bottom: 6px;
  }
  
  .margin-top-8 {
    margin-top: 6px;
  }
  
  .margin-left-50 {
    margin-left: 50px;
  }
  
  /*
    Login
  */
  
  .container {
    width: 100%;
    margin: 0 auto;

  }
  
  .container-login {
    width: 500px;  
    min-height: 600px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 6%;
  }
  
  .wrap-login {
    width: 500px;  
    min-height: 600px;
    width: 100%;
    padding: 10px;
    background: var(--background-color);  
    border-radius: 6%;
  }
  
  /*
    Formulário
  */
  
  .login-form {
    width: 100%;
  }

  
  /*
    Input
  */
  
  .wrap-input {
    width: 80%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 2px solid var(--line-input);
  }
  
  .input-form {
    font-family: Poppins-SemiBold;
    font-size: 18px;
    color: var(--input-text);
    line-height: 1;
    display: block;
    width: 100%;
    height: 45px;
    background: var(--white-color)
  }
  
  .focus-input-form {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
  }
  
  .focus-input-form::before {
    content: "";
    display: block;
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px;
    transition: all 0.4s;
    background: var(--main-color);
  }
  
  .focus-input-form::after {
    font-family: Poppins-Medium;
    font-size: 18px;
    color: var(--text1);
    line-height: 1.2;
    content: attr(data-placeholder);
    display: block;
    width: 100%;
    position: absolute;
    top: 15px;
    left: 0px;
    padding-left: 5px;
    transition: all 0.4s;
  }
  
  .input-form:focus + .focus-input-form::after {
    top: -20px;
    font-size: 15px;
  }
  
  .input-form:focus + .focus-input-form::before {
    width: 100%;
  }
  
  .has-val.input-form + .focus-input-form::after {
    top: -20px;
    font-size: 15px;
  }
  
  .has-val.input-form + .focus-input-form::before {
    width: 100%;
  }
  
  /*
    Botão
  */
  
  .container-form-btn {
    width: 100%;
    display:flex;
    justify-content: center;
  }
  
  .form-btn {
    font-size: 15px;
    color: var(--white-color);
    line-height: 1.2;
    text-transform: uppercase;
    text-align: center;
    margin: auto;
    margin-bottom: 20px;
    padding-top: 10px;
    width: 40%;
    height: 40px;
    background-color: var(--main-color);
    border-radius: 20px;
    transition: all 0.4s;
  }

  .login-form-btn {
    font-size: 14px;
    color: var(--white-color);
    line-height: 1.2;
    text-transform: uppercase;
    
    text-align: start;
    padding-left: 5px;
    margin: 10px;
    width: 80%;
    height: 35px;
    background-color: var(--main-color);
    border-radius: 20px;
    transition: all 0.4s;
  }
  
  .form-btn:hover  {
    background-color: var(--highligth-text);
  }
  
  /*
    Login utils
  */
  
  .login-utils {
    margin-top: 10px;
  }
  
  .login-utils li {
    position: relative;
    text-align: center;
  }
  